body {
  background-color: #fff;
  color: #000;
  font-family: 'Gentium Book Basic';
  font-size: 11pt;
  margin: 0 0;
}

body.Dark {
  background-color: #222;
  color: #aaa;
}

a {
  color: #249FA3;
  text-decoration: none;
}

a:visited {
  color: #7C93A1;
}

a:hover {
  color: #5DC2C0;
  text-decoration: underline;
}

a.highlighted {
  background-color: #7C93A1;
  border-radius: 0.5ex;
  box-shadow: 0 0 0.5ex #7C93A1;
  color: #fff;
  margin-left: -0.5ex;
  margin-right: -0.5ex;
  padding-left: 0.5ex;
  padding-right: 0.5ex;
}

body.Dark a.highlighted {
  background-color: #888;
  box-shadow: 0 0 0.5ex #888;
  color: #aae;
}

ul {
  margin-left: 2em;
  padding-left: 0;
}

kbd {
  background-color: #ccc;
  border: 2px solid #888;
  border-right: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
  border-radius: 3px;
  font-family: "Envy Code R", "Courier New";
  padding: 0 3px;
}

body.Dark kbd {
  background-color: #444;
  border: 2px solid #111;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  color: #aaa;
}

.wrapper {
  margin: 0 auto;
  width: 640px;
}

.center {
  text-align: center;
}

#theme-switcher {
  background-color: #aaa;
  color: #222;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.5ex 1ex 0.5ex 0.5ex;
  border-bottom-right-radius: 0.5ex;
  cursor: pointer;
}

body.Dark #theme-switcher {
  background-color: #444;
  color: #aaa;
}

/* Widgets
========== */

.widget > h2 {
  font-family: Existence;
}

#ArchiveList ul {
  margin-left: 2em !important;
  list-style-type: disc !important;
}

#ArchiveList li {
  list-style-type: disc !important;
}

.PopularPosts > .widget-content > ul > li {
  padding: 0;
}

/* Blog header stuff
==================== */

#blog-header {
  border-bottom: 1px solid #EEE;
  padding-bottom: 10px;
}

body.Dark #blog-header {
  border-bottom: 1px solid #444;
}

#Header1 {
  text-align: center;
}

#blog-title {
  font-family: 'Moms Typewriter';
  font-size: 4em;
  margin: 0.5em 0 0 0;
  text-shadow: #000 0 0 3px;
}

#blog-title > a,
#blog-title > a:hover,
#blog-title > a:visited {
  color: #000;
  text-decoration: none;
}

body.Dark #blog-title > a,
body.Dark #blog-title > a:hover,
body.Dark #blog-title > a:visited {
  color: #aaa;
}

/* Pages and Search Box */

#cse-search-box {
  background-color: #eee;
  border-radius: 0.5ex;
  float: right;
  font-family: "Envy Code R", monospace;
  padding: 0.5ex;
}

body.Dark #cse-search-box {
  background-color: #444;
}

#cse-search-box > div > input[type=text] {
  background-color: transparent;
  border: none;
  font-family: "Envy Code R", monospace;
  font-size: 1em;
}

body.Dark #cse-search-box > div > input[type=text] {
  color: #aaa;
}

#PageList1 {
  font-family: Existence;
  font-size: 1.25em;
}

#PageList1 > ul {
  margin: 0 0;
  padding: 0.5ex 0;
}

#PageList1 > ul > li {
  background-color: #fff;
  border-radius: 0.5ex;
  display: inline-block;
  list-style-type: none;
  padding: 0.5ex;
}

body.Dark #PageList1 > ul > li {
  background-color: #444;
  color: #aaa;
}

#PageList1 > ul > li:hover {
  background-color: #eee;
}

body.Dark #PageList1 > ul > li:hover {
  background-color: #555;
}

#PageList1 > ul > li.selected {
  background-color: #efe;
}

body.Dark #PageList1 > ul > li.selected {
  background-color: #454;
}

/* Blog post stuff
================== */

/* Post header */
article > header {
  margin-bottom: 1em;
  text-align: center;
}

article > header > h1 {
  font-family: Prociono;
}

article > header > time {
  color: #444;
  font-size: 1.5em;
  text-shadow: #AAA 0 0 2px;
}

body.Dark article > header > time {
  color: #aaa;
}

.notice {
  background-color: LemonChiffon;
  border: 3px solid LemonChiffon;
  border-radius: 3px;
  box-shadow: 0 0 3px LemonChiffon;
  color: #3B6B9C;
  margin-bottom: 1em;
  padding: 0.5ex;
  width: 628px;
}

body.Dark .notice {
  background-color: DarkGreen;
  border: 3px solid DarkGreen;
  box-shadow: 0 0 3px DarkGreen;
  color: #aaa;
}

.notice.OldBlog {
  background-color: Pink;
  border: 3px solid Pink;
  box-shadow: 0 0 3px Pink;
}

body.Dark .notice.OldBlog {
  background-color: #804;
  border: 3px solid #804;
  box-shadow: 0 0 3px #804;
}

.notice.StatusDraft {
  background-color: LightSkyBlue;
  border: 3px solid LightSkyBlue;
  box-shadow: 0 0 3px LightSkyBlue;
  color: Tomato;
}

body.Dark .notice.StatusDraft {
  background-color: SteelBlue;
  border: 3px solid SteelBlue;
  box-shadow: 0 0 3px SteelBlue;
  color: #aaa;
}

article h2,
article h3,
article h4,
article h5,
article h6 {
  font-family: "Bergamo Std";
  text-align: center;
}

article img {
  height: auto !important;
  padding: 5px;
  border: 1px solid #eee;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
}

body.Dark article img {
  border: none;
  box-shadow: 1px 1px 5px rgba(255, 255, 255, .5);
}

article img.original-640 {
  margin-left: -6px;
  margin-right: 6px;
}

.post-content {
  line-height: 1.5em;
}

.post-content blockquote {
  display: block;
  margin: 2em 36px 0;
}

.post-content blockquote:before,
.post-content blockquote:after {
  color: #ccc;
  display: block;
  font-size: 72px;
}

.post-content blockquote:before {
/* ldquo is not declared */
  content: "\201c";
  height: 0;
  margin-left: -36px;
  text-shadow: #666 -1px -1px 0px;
}

.post-content blockquote:after {
  content: "\201d";
  height: 0;
  margin-top: 0;
  margin-left: 568px; /* 640 - 36 - 36 */
  text-shadow: #666 1px 1px 0px;
}

.post-content code {
  background-color:#eee;
  font-family: "Envy Code R", "Courier New";
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  padding: 0 0.5ex;
}

body.Dark .post-content code {
  background-color:#666;
  color: #aaa;
}

.post-content pre {
  background-color:#eee;
  font-family: "Envy Code R", "Courier New";
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  overflow:auto;
  word-wrap:normal;
  padding:5px;
}

body.Dark .post-content pre {
  background-color:#666;
  color: #aaa;
}

.post-content pre > code {
  background-color: #444;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  padding: 0.5ex;
  overflow-x: auto;
}

/*

Zenburn style from voldmar.ru (c) Vladimir Epifanov [voldmar@voldmar.ru]
based on dark.css by Ivan Sagalaev

*/

pre code[class]:after {
  content: "highlight: " attr(class);
  display: block; text-align: right;
  font-size: smaller;
  color: #CCC;
  border-top: solid 1px black;
  padding-top: 0.5em;
}

pre code {
  display: block;
  background:#444;
  color: #DCDCDC;
}

pre .keyword,
pre .tag,
pre .django .tag,
pre .django .keyword,
pre .css .class,
pre .css .id,
pre .lisp .title {
  color: #E3CEAB;
}

pre .django .template_tag,
pre .django .variable,
pre .django .filter .argument {
  color: #DCDCDC;
}

pre .number,
pre .date {
  color: #8CD0D3;
}

pre .dos .envvar,
pre .dos .stream,
pre .variable,
pre .apache .sqbracket {
  color: #EFDCBC;
}

pre .dos .flow,
pre .diff .change,
pre .python .exception,
pre .python .built_in,
pre .literal {
  color: #EFEFAF;
}

pre .diff .chunk,
pre .ruby .subst {
  color: #8F8F8F;
}

pre .dos .keyword,
pre .python .decorator,
pre .class .title,
pre .function .title,
pre .ini .title,
pre .diff .header,
pre .ruby .class .parent,
pre .apache .tag {
    color: #efef8f;
}

pre .dos .winutils,
pre .ruby .symbol,
pre .ruby .string,
pre .ruby .instancevar {
  color: #DCA3A3;
}

pre .diff .deletion,
pre .string,
pre .tag .attribute .value,
pre .preprocessor,
pre .built_in,
pre .sql .aggregate,
pre .javadoc,
pre .smalltalk .class,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .css .rules .value,
pre .attr_selector,
pre .pseudo,
pre .apache .cbracket {
  color: #CC9393;
}

pre .shebang,
pre .diff .addition,
pre .comment,
pre .java .annotation,
pre .template_comment,
pre .pi,
pre .doctype {
  color: #7F9F7F;
}

pre .html .css,
pre .html .javascript {
  opacity: 0.5;
}

figure {
  display: block;
  text-align: center;
}

figcaption {
  display: block;
  text-align: center;
}

#post-comments {
  margin: 0 auto;
  width: 640px;
}

/* Post footer */

article > footer {
  background-color: #F9F9F9;
  border-radius: 0.5ex;
  color: #666;
  font-size: 0.9em;
  line-height: 1.5em;
  margin: 1em auto 0 auto;
  padding: 0.5ex 0.5ex;
  width: 640px;
}

body.Dark article > footer {
  background-color: #444;
  color: #aaa;
}

/* AdSense */

#AdSense1 {
  margin: 10px auto;
  width: 728px;
}

/* Blog footer stuff
==================== */

#blog-footer {
  border-top: 1px solid #EEE;
  margin-top: 10px;
}

body.Dark #blog-footer {
  border-top: 1px solid #444;
}

#footer-widgets-left {
  border-right: 1px solid #EEE;
  float: left;
  padding-right: 10px;
  width: 310px;
}

#footer-widgets-right {
  float: right;
  width: 310px;
}
