<html>
<head>
  <title>Last Tweets: About</title>
  <link href="/css/lastweet.css" type="text/css" rel="stylesheet"/>
  <link href="/favicon.ico" type="image/x-icon" rel="shortcut icon"/>
</head>
<body>
<div id="wrap">
{% include "header.html" %}
<div id="content">
<h1>About</h1>
<div id="about_content">
<h2>What is this?</h2>
<p>Basically, this application can tell you how long you have been talking to your friends. You actually do not need to check here, you can <a href="/subscribe">subscribe</a> via email.</p>

<h2>Updating</h2>
<h3>How soon will Last Tweets update an account?</h3>
<p>Last Tweets doesn't automatically update an account. Unless someone checks an account 24 Hours later after last updated, or an account is subscribed.</p>

<h2>Subscription</h2>
<h3>When will Last Tweets send mail?</h3>
<p>If there are a) a friend you never sent a message or b) a friend you have not sent in last 14 days; and at least 14 days after last time sent.</p>

<h2>Magpie Detection</h2>
<h3>How accurate is the detection</h3>
Maybe not high enough. Those Magpie ads doesn't have client source, e.g. Twhirl, Twitterfox, etc. Therefore I can only see if the first word of tweet is <b>#magpie</b> and if there is <b>http://</b>. Please must read the suspicious tweets before you take more further actions.

<h3>Why add this?</h3>
I don't like it. However, I haven't seen any Magpie ads in my stream (I don't follow many people). In my opinion, it would not be a totally bad thing IF the followers of that account can have choices besides UNFOLLOWING in order to get rid of those ads. So far, it's bad.

<h2>Limitations</h2>
<ul>
  <li>Twitter account must not be protected, but not limit to friends. If you twitter account is protected, Last Tweets can't retrieve updates.</li>
  <li>Only first 100 friends will be checked.</li>
</ul>

<h2>Server things</h2>
<ul>
  <li>Once Last Tweets finishes updating for an account, it tries to mail if that account is subscribed and have not mailed in last 14 days.</li>
  <li>Up to one searching request to Twitter a second, means 100 friends need 100 seconds to check them all, and that is the ideal case.</li>
  <li>Every 10 minutes, Last Tweets tries to mail for those failed to mail last time.</li>
  <li>Every an hour, Last Tweets automatically queues those accounts have been subscribed and last mailed more than 14 days.</li>
</ul>

<h2>The Code</h2>
The source code is licensed under the <a href="http://www.gnu.org/licenses/gpl-3.0.html">GPLv3</a>. You can check out the <a href="http://code.google.com/p/yjl/wiki/LasTweet">project page</a> on Google Code.

<h2>Sucks!</h2>
<p>Yea... I know.</p>
</div>
</div>
{% include "footer.html" %}
</div>
</body>
</html>

