<html>
<head>
  <title>Last Tweets</title>
  <link href="/css/lastweet.css" type="text/css" rel="stylesheet"/>
  <link href="/favicon.ico" type="image/x-icon" rel="shortcut icon"/>
</head>
<body>
<div id="wrap">
{% include "header.html" %}
<div id="content">
<div id="messages">
{% for message in messages %} 
<div class="{{ message.0 }}">{{ message.1|escape }}</div>
{% endfor %}
</div>
<div>
  <form action="/" method="post">
    <div>Twitter Username <input type="text" name="username" value=""/> <input type="submit" value="Let's see!"/></div>
  </form>
</div>
</div>
{% include "footer.html" %}
</div>
</body>
</html>

