<html>
<head>
  <title>Last Tweets: Subscribe</title>
  <link href="/css/lastweet.css" type="text/css" rel="stylesheet"/>
  <link href="/favicon.ico" type="image/x-icon" rel="shortcut icon"/>
</head>
<body>
<div id="wrap">
{% include "header.html" %}
<div id="content">
<h1>Subscribe to Your Last Tweets</h1>
<div id="messages">
{% for message in messages %} 
<div class="{{ message.0 }}">{{ message.1 }}</div>
{% endfor %}
</div>
  <form id="subscribe" action="{{ post_uri }}" method="post">
    <div><label for="username">Twitter Username</label> <input type="text" name="username" value="{{ username }}"/></div>
    <div><label for="password">Twitter Password</label> <input type="password" name="password" value=""/></div>
    <div><label for="email">Your Email</label> <input type="text" name="email" value="{{ email }}"/></div>
    <div><input type="submit" value="Submit"/></div>
  </form>
<p>Last Tweets will not store your Twitter username and password, but you must prove you own that Twiiter acocount in order to (un)subscribe. If you want to unsubscribe, empty email field and submit.</p>
</div>
{% include "footer.html" %}
</div>
</body>
</html>

