<html>
<head>
  <title>Last Tweets: {{ username|escape }}</title>
  <link href="/css/lastweet.css" type="text/css" rel="stylesheet"/>
  <link href="/favicon.ico" type="image/x-icon" rel="shortcut icon"/>
</head>
<body>
<div id="wrap">
{% include "header.html" %}
<div id="content">
<div id="messages">
{% for message in messages %} 
<div class="{{ message.0 }}">{{ message.1|escape }}</div>
{% endfor %}
</div>
<div id="twitter">
<a href="http://twitter.com/{{ username|urlencode }}"><img class="avatar" src="{{ profile_image }}"/></a>
<a class="username" href="http://twitter.com/{{ username|urlencode }}">{{ username|escape }}</a>
</div>
<div>
Last updated:
{% if last_updated %}
{{ last_updated|timesince }} ago
{% else %}
Never
{% endif %}
</div>
{% if email %}
<div>
Last mailed:
{% if last_mailed %}
{{ last_mailed|timesince }} ago
{% else %}
Never
{% endif %}
</div>
{% endif %}
<div id="tweets">
{% if tweets %}
{% for tweet in tweets %}
<div class="tweet">
<a href="http://twitter.com/{{ tweet.username|urlencode }}"><img class="avatar" src="{{ tweet.profile_image }}"/></a>
<div class="right">
<div class="option-right">
<a href="http://twitter.com/home?status=@{{ tweet.username|urlencode }}">Tweet Now</a>
</div>
@<a href="http://twitter.com/{{ tweet.username|urlencode }}">{{ tweet.username|escape }}</a>
{% if tweet.published %}
about {{ tweet.published|timesince }} ago
{% else %}
Never
{% endif %}
<div class="message">
<a href="http://twitter.com/{{ username|urlencode }}/status/{{ tweet.msg_id }}">{{ tweet.msg|escape }}</a>
</div>
{% if tweet.magpie %}
<div class="option-right">
<a href="http://twitter.com/{{ tweet.username|urlencode }}">Go to unfollow</a>
</div>
<div class="magpie">
Magpie detected: <a href="http://twitter.com/{{ tweet.username|urlencode }}/status/{{ tweet.magpie.msg_id }}">{{ tweet.magpie.msg|escape }}</a> about {{ tweet.magpie.published|timesince }} ago
</div>
{% endif %}
</div>
<br style="clear: both"/>
</div>
{% endfor %}
{% else %}
{% if last_updated %}
No Friends
{% else %}
No data available yet.
{% endif %}
{% endif %}
</div>
</div>
{% include "footer.html" %}
</div>
</body>
</html>

