/* Gentium Basic */

@font-face {
	font-family: 'Gentium Basic';
	src: url('GentiumBasic/GenBasR-webfont.eot');
	src: local('☺'), url('GentiumBasic/GenBasR-webfont.woff') format('woff'), url('GentiumBasic/GenBasR-webfont.ttf') format('truetype'), url('GentiumBasic/GenBasR-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gentium Basic';
	src: url('GentiumBasic/GenBasI-webfont.eot');
	src: local('☺'), url('GentiumBasic/GenBasI-webfont.woff') format('woff'), url('GentiumBasic/GenBasI-webfont.ttf') format('truetype'), url('GentiumBasic/GenBasI-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Gentium Basic';
	src: url('GentiumBasic/GenBasB-webfont.eot');
	src: local('☺'), url('GentiumBasic/GenBasB-webfont.woff') format('woff'), url('GentiumBasic/GenBasB-webfont.ttf') format('truetype'), url('GentiumBasic/GenBasB-webfont.svg#webfont') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gentium Basic';
	src: url('GentiumBasic/GenBasBI-webfont.eot');
	src: local('☺'), url('GentiumBasic/GenBasBI-webfont.woff') format('woff'), url('GentiumBasic/GenBasBI-webfont.ttf') format('truetype'), url('GentiumBasic/GenBasBI-webfont.svg#webfont') format('svg');
	font-weight: bold;
	font-style: italic;
}

/* Gentium Book Basic */

@font-face {
	font-family: 'Gentium Book Basic';
	src: url('GentiumBasic/GenBkBasR-webfont.eot');
	src: local('☺'), url('GentiumBasic/GenBkBasR-webfont.woff') format('woff'), url('GentiumBasic/GenBkBasR-webfont.ttf') format('truetype'), url('GentiumBasic/GenBkBasR-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gentium Book Basic';
	src: url('GentiumBasic/GenBkBasI-webfont.eot');
	src: local('☺'), url('GentiumBasic/GenBkBasI-webfont.woff') format('woff'), url('GentiumBasic/GenBkBasI-webfont.ttf') format('truetype'), url('GentiumBasic/GenBkBasI-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Gentium Book Basic';
	src: url('GentiumBasic/GenBkBasB-webfont.eot');
	src: local('☺'), url('GentiumBasic/GenBkBasB-webfont.woff') format('woff'), url('GentiumBasic/GenBkBasB-webfont.ttf') format('truetype'), url('GentiumBasic/GenBkBasB-webfont.svg#webfont') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gentium Book Basic';
	src: url('GentiumBasic/GenBkBasBI-webfont.eot');
	src: local('☺'), url('GentiumBasic/GenBkBasBI-webfont.woff') format('woff'), url('GentiumBasic/GenBkBasBI-webfont.ttf') format('truetype'), url('GentiumBasic/GenBkBasBI-webfont.svg#webfont') format('svg');
	font-weight: bold;
	font-style: italic;
}

/* Bergamo Std */

@font-face {
	font-family: 'Bergamo Std';
	src: url('BergamoStd/BergamoStd-Regular-webfont.eot');
	src: local('☺'), url('BergamoStd/BergamoStd-Regular-webfont.woff') format('woff'), url('BergamoStd/BergamoStd-Regular-webfont.ttf') format('truetype'), url('BergamoStd/BergamoStd-Regular-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bergamo Std';
	src: url('BergamoStd/BergamoStd-Italic-webfont.eot');
	src: local('☺'), url('BergamoStd/BergamoStd-Italic-webfont.woff') format('woff'), url('BergamoStd/BergamoStd-Italic-webfont.ttf') format('truetype'), url('BergamoStd/BergamoStd-Italic-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Bergamo Std';
	src: url('BergamoStd/BergamoStd-Bold-webfont.eot');
	src: local('☺'), url('BergamoStd/BergamoStd-Bold-webfont.woff') format('woff'), url('BergamoStd/BergamoStd-Bold-webfont.ttf') format('truetype'), url('BergamoStd/BergamoStd-Bold-webfont.svg#webfont') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Bergamo Std';
	src: url('BergamoStd/BergamoStd-BoldItalic-webfont.eot');
	src: local('☺'), url('BergamoStd/BergamoStd-BoldItalic-webfont.woff') format('woff'), url('BergamoStd/BergamoStd-BoldItalic-webfont.ttf') format('truetype'), url('BergamoStd/BergamoStd-BoldItalic-webfont.svg#webfont') format('svg');
	font-weight: bold;
	font-style: italic;
}

/* Prociono */

@font-face {
	font-family: 'Prociono';
	src: url('Prociono/Prociono-Regular-webfont.eot');
	src: local('☺'), url('Prociono/Prociono-Regular-webfont.woff') format('woff'), url('Prociono/Prociono-Regular-webfont.ttf') format('truetype'), url('Prociono/Prociono-Regular-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Inconsolata */

@font-face {
	font-family: 'Inconsolata';
	src: url('Inconsolata/Inconsolata-webfont.eot');
	src: local('☺'), url('Inconsolata/Inconsolata-webfont.woff') format('woff'), url('Inconsolata/Inconsolata-webfont.ttf') format('truetype'), url('Inconsolata/Inconsolata-webfont.svg#webfont') format('svg');
}

/* Existence */

@font-face {
	font-family: 'Existence';
	src: url('Existence/Existence-Light-webfont.eot');
	src: local('☺'), url('Existence/Existence-Light-webfont.woff') format('woff'), url('Existence/Existence-Light-webfont.ttf') format('truetype'), url('Existence/Existence-Light-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Existence Unicase';
	src: url('Existence/Existence-UnicaseLight-webfont.eot');
	src: local('☺'), url('Existence/Existence-UnicaseLight-webfont.woff') format('woff'), url('Existence/Existence-UnicaseLight-webfont.ttf') format('truetype'), url('Existence/Existence-UnicaseLight-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Existence Stencil';
	src: url('Existence/Existence-StencilLight-webfont.eot');
	src: local('☺'), url('Existence/Existence-StencilLight-webfont.woff') format('woff'), url('Existence/Existence-StencilLight-webfont.ttf') format('truetype'), url('Existence/Existence-StencilLight-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Moms Typewriter */

@font-face {
	font-family: 'Moms Typewriter';
	src: url('MomsTypewriter/Moms_typewriter-webfont.eot');
	src: local('☺'), url('MomsTypewriter/Moms_typewriter-webfont.woff') format('woff'), url('MomsTypewriter/Moms_typewriter-webfont.ttf') format('truetype'), url('MomsTypewriter/Moms_typewriter-webfont.svg#webfont') format('svg');
}
