/*
 * Author: Yu-Jie Lin
 * Creation Date: 2010-08-31T16:49:38+0800
 *
 * Do not remove the @namespace line -- it's required for correct functioning
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */

#TabsToolbar {
  background: #242424 !important;
}

.tabbrowser-tab {
  background: transparent !important;
  color: #fff !important;
  font-family: monospace;
  font-size: 12px;
  font-weight: bold;
}

.tabbrowser-tab:hover {
  background: #404040 !important;
}

.tabbrowser-tab[selected] {
  background: #666 !important;
}

#addon-bar {
  -moz-appearance: none !important;
}

#addon-bar,
#addon-bar * {
  background: #222 !important;
  color: #ddc !important;
}

#liberator-statusline {
  background-color: transparent !important;
  width: 800px !important;
}
